
.modal_wraper {
    position:fixed;
    bottom: 0%;
    width: 100%;
    background: black;
    backdrop-filter: blue;
}
.modal_wraper .open {
    height: 100%;
    display: block;
}
.modal_wraper .close {
    height: 0;
    display: none;
}
.modal_body {
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
}
.modal_body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.modal_body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.modale_close {
    text-align: right;
    margin-top: -15px;
    font-size: 40px;
    color: red;
    cursor: pointer;
}
.modal_body h2 {
    text-align: left;
    width: 100%;
    margin: 0%;
}