.content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 162px);
	background: #e5e5e5;
    border-radius: 15px 15px 0 0;
}
.content_blok {
    margin: 10px 10px 10px 10px;
}
.img_block {

    display: flex;
    align-items: center;
    justify-content: center;

	background-color: #ffffff;
	border-radius: 10px;
}
.content_text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    font-variant: small-caps;
    /* margin-left: 20px; */
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
