.content {
	position: absolute;
	top: 100px;
	bottom: 0;
	width: 100%;
	background: #fff;
}

.content .ant-row {
	padding: 2rem;
}
.content_blok {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 1.5rem 0;
}
.img_block {
	width: 8rem;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #fff;
	border-radius: 10px;
}

.img_block img {
	width: 50%;
}
.content_text {
	font-size: 1.1em;
	font-weight: 600;
	line-height: 23px;
	color: var(--dark);
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0.5rem 0 0 0;
}
