.search-by-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}

.search-by-date p {
	color: var(--blue);
	font-style: italic;
	margin: 0;
}

.search-by-date .active {
	text-decoration: underline;
}

.search-by-date img {
	height: fit-content;
}

/*=================================================*/

.demand {
	width: 100%;
	height: 70px;
	margin-bottom: 3px;
	display: flex;
	align-items: center;
	background: #fff !important;
	border-color: #c5c5c5;
	border-style: solid;
	border-width: 1px 0 0;
}

.demands_wrapper {
	overflow: auto;
	height: calc(100vh - 232px);
}

.demand .index {
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.demand .index p {
	margin: 0;
}

.demand hr {
	height: 100%;
	border-left: 1px solid var(--dark);
	opacity: 0.3;
}

.demand-inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0.8rem;
}

.demand-inner p {
	margin: 0;
}

.demand-text {
	display: flex;
	flex-direction: column;
	justify-content: start;
	justify-content: space-between;
}

.demand-price {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.demand-text .name {
	font-size: 1.5em;
	font-weight: 400;
}

.demand-text .moment,
.demand-text .no {
	font-size: 0.8em;
}

.demand-price {
	font-size: 1.5em;
	font-weight: 400;
}

/*======================================================*/

.document-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background: #f3f3f3;
}

.document-footer p {
	margin: 0;
}

.document-footer .create-button {
	width: 33.33%;
	display: flex;
	justify-content: center;
}

.document-footer button {
	background: linear-gradient(to right, var(--dark-blue), var(--blue));
	border: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
}

.document-footer button p {
	margin: 0;
	color: #fff;
	font-size: 3em;
}

.document-footer .text {
	width: 33.33%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.document-footer .text p {
	color: var(--dark);
}

.document-footer .text .amount {
	font-size: 1.2em;
}

.document-footer .text .profit {
	font-size: 1em;
	opacity: 0.8;
}

.document-footer .number {
	width: 33.33%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.document-footer .number .profit {
	font-size: 1.2em;
	opacity: 0.8;
}

.document-footer .number .amount {
	font-size: 1.5em;
}
