.ant-tabs-nav {
	margin: 0 !important;
}

.ant-tabs-nav-list,
.ant-tabs-tab {
	width: 100%;
}

.ant-tabs-tab {
	justify-content: center;
	padding: 0.5rem 1rem !important;
}

/*=======================================================*/

.doc-form .ant-row {
	background-color: white;
	padding: 1rem !important;
	border-color: #e3e3e3;
	border-width: 0 0 1px 0;
	border-style: solid;
}

.doc-form .form-icons,
.doc-form .form-label,
.doc-form .form-input {
	display: flex;
	align-items: center;
}

.ant-picker-datetime-panel {
	display: block !important;
}

.doc-form .form-icons {
	justify-content: center;
}

.doc-form .form-label {
	padding: 0 1rem;
	justify-content: start;
}

.doc-form .form-label label {
	color: var(--dark) !important;
	margin: 0;
}

.doc-form .form-input input,
.doc-form .form-input select {
	border: none;
}

.doc-form .form-input .date-picker {
	padding: 0;
	border: none;
}

.ant-select {
	width: 100%;
}
.ant-select-arrow {
	display: none;
}
.ant-select-selector {
	background: none !important;
	border: none !important;
}

.ant-picker-dropdown,
.ant-picker-panel-container,
.ant-picker-panel,
.ant-picker-date-panel,
.ant-picker-header,
.ant-picker-body,
.ant-picker-footer,
.ant-picker-content {
	width: 100% !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

.document .debt {
	display: flex;
	justify-content: end;
	width: 100%;
	padding: 0 1rem 0.5rem;
}

.document .debt p {
	margin: 0;
	color: red;
}

.document .debt p strong {
	color: var(--dark);
	margin: 0 0 0 1rem;
}

/*===================== PRODUCT =======================*/

.row-products {
	display: flex;
	background: #fff;
	padding: 0.5rem 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #e3e3e3;
}

.row-products .index {
	display: flex;
	align-items: center;
}

.row-products .index p {
	margin: 0;
}

.row-products .body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row-products .body .text {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.row-products .body .product-name,
.row-products .body .number p {
	margin: 0;
}

.row-products .body .product-name {
	color: var(--dark);
	font-weight: 400;
}

.row-products .body .text div {
	display: flex;
	align-items: center;
}

.row-products .body .text div img {
	width: 15px;
	height: 15px;
}

.row-products .body .number {
	display: flex;
	flex-direction: column;
}

.row-products .body .amount {
	display: flex;
	justify-content: end;
	font-size: 1.2em;
}

.row-products .body .quantity-price {
	display: flex;
	justify-content: end;
	font-size: 0.9em;
	opacity: 0.7;
}

.row-products .body .text .stock-quantity {
	color: var(--dark);
	margin: 0 0 0 1rem;
	opacity: 0.7;
	font-weight: 400;
	font-size: 0.9em;
}

.row-products .other {
	display: flex;
	justify-content: end;
	align-content: center;
}

.row-products .other button {
	border: none;
	background: none;
}

.product-list {
	overflow: auto;
	height: calc(100vh - 458px);
	transition: 300ms;
}

.product-list-small {
	height: calc(100vh - 576px);
	transition: 300ms;
}

.product-list .add-buttons {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem 0;
}

.product-list .add-buttons button {
	background: var(--dark-blue);
	border: none;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	color: #fff;
}

.product-list .add-buttons .add-barcode {
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-list .add-buttons .add-manual {
	display: flex;
	width: 150px;
	justify-content: space-evenly;
}

.product-list .add-buttons button p {
	margin: 0;
	color: #fff;
}

/*===================== FOOTER ========================*/

.doc-footer {
	border-width: 1px 0 0 0;
	border-color: #b5b5b5;
	border-style: solid;
	background-color: #f9f9f9;
	position: fixed;
	bottom: -118px;
	width: 100%;
	transition: 300ms;
}

.doc-footer-open {
	transition: 300ms;
	bottom: 0;
}

.doc-footer .line {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

.doc-footer p {
	color: var(--dark);
	margin: 0;
	font-weight: 400;
}

.doc-footer .text-block,
.doc-footer .text-block-important {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5rem;
}

.doc-footer .text-block p {
	font-size: 1em;
}

.doc-footer .text-block-important p {
	font-weight: 600;
}

.doc-footer .submit-buttons {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem 0;
}

.doc-footer .submit-buttons button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 3px;
	border: none;
	padding: 0.5rem 1rem;
	color: #fff;
	opacity: 1;
}

.doc-footer .submit-buttons .close {
	background: transparent;
	border: 1px solid #b10000;
	width: 80px;
}

.doc-footer .submit-buttons .print {
	background: transparent;
	border: 1px solid var(--dark-blue);
	width: 80px;
}

.doc-footer .submit-buttons .print div {
	display: flex;
	height: fit-content;
}

.doc-footer .submit-buttons .save {
	background: #14ca04;
	width: 120px;
}

.doc-footer .submit-buttons .save div {
	display: flex;
	justify-content: center;
}
.doc-footer .submit-buttons .save div img {
	height: 15px;
}

.doc-footer .submit-buttons .save p {
	color: #fff !important;
}