/*
=============== 
Variables
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
	--blue: #02a4f2;
	--dark-blue: #1164b1;
	--dark: #041a3a;
}
/*
  =============== 
  Global Styles
  ===============
  */

* {
	font-family: "Blinker", sans-serif !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: block;
	background-color: #c3c3c3;
	height: 100vh;
	position: relative;
}
