input:focus {
    outline: none;
}

.select-products-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-products-modal > button {
    position: fixed;
    bottom: 15px;
    border: none;
    background: var(--dark-blue);
    color: #fff;
    border-radius: 5px;
    font-size: 1.3em; 
    padding: 0.6rem 12rem;
}

.select-product-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #b5b5b5;
    width: 100%;
    background: var(--dark-blue);
}

.select-product-header h2 {
    color: #fff;
}

.ant-space { 
    width: 100%;
}

.select-products-body {
    height: calc(100vh - 66px);
    overflow: auto;
}

.product { 
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid #b5b5b5;
}

.product p {
    margin: 0;
    font-weight: 400;
}

.product img {
    margin: 1rem;
    width: 45px;
    height: 45px;
}

.product .texts {
    flex: 1;
}

.product .texts .barcode, .product .texts .number {
    opacity: 0.7;
} 

.product .texts .number {
    display: flex;
    justify-content: space-between;
}

.product input {
    margin: 1rem;
}

.red {
    color: red;
}

.set-data { 
    text-align: center;
}

.set-data-body {
    padding: 0 2rem;
}

.set-data-body .quantity {
    opacity: 0.7;
}

.set-data-body .set-quantity {
    display: flex;
    justify-content: space-between;
}

.set-data-body .set-quantity input {
    border: none;
    text-align: center;
    font-size: 1.3em;
    border-bottom: 1px solid var(--dark-blue);
    margin: 0 2rem;
}

.set-data-body .set-quantity button {
    border: none;
    background: none;
}

.set-data-body .set-quantity button img {
    width: 50px;
}

.set-data-body label {
    margin: 0;
}

.set-data-body .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}

.set-data-body .price label {
    font-weight: 400;
}

.set-data-body .price input {
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    width: 100%;
    font-size: 1.2em;
}

.set-data-body .discount, .set-data-body .amount {
    display: flex;
    justify-content: start;
    margin: 0.5rem 0;
}

.set-data-body .discount label, .set-data-body .amount label {
    font-weight: 400;
    margin-right: 1rem;
}

.set-data-body .discount input, .set-data-body .amount input {
    border: none;
    font-size: 1.2em;
    width: 25%;
}

.set-data-body > button {
    border: none;
    background: var(--dark-blue);
    margin: 1rem 0;
    width: 100%;
    padding: 0.8rem;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
}