
.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100vh;
	background: white;
	display: grid;
	grid-template-rows: auto 1fr auto;
	row-gap: 1rem;
	box-shadow: hsl(360, 67%, 44%);
	transition: all 0.3s linear;
	/* transform: translate(-100%); */
}
/* .show-sidebar {
	left: 0;
	transform: translate(0);
} */
.sidebar-header {
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary);
	align-items: center;
	padding: 1rem 1.5rem;
}
.sidebar-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sidebar-header p {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    font-variant: small-caps;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.links a {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	text-transform: capitalize;
	padding: 1rem 1.5rem;
	transition: all 0.3s linear;
	letter-spacing: 0.1rem;
}
.links_text {
    width: 53px;
    height: 20px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    font-variant: small-caps;
    
    color: #5A5A5A;
}
.links_text_h {
    width: 63px;
    height: 20px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    font-variant: small-caps;
    
    color: #0047FF;
    
    text-shadow: 0px 4px 4px rgba(0, 71, 255, 0.25);
}
.links img {
    margin-right: 1em;
}
.sidebar_title {
    margin-left: 2em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    
    color: #B10000;
}