.div {
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.input {
	border-radius: 4px 0 0 4px;
	border: 1px solid #c5c5c5;
	padding: 0.15rem 1rem;
	border-right: none;
	width: 100%;
}

.button {
	background: var(--dark-blue);
	color: #fff;
	border: none;
	padding: 0.15rem 1.3rem;
	border-radius: 0 4px 4px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:focus,
.button:focus-visible {
	outline: none;
}
