.dashboardHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	padding: 1rem 5rem 0;
}

h1 {
	font-weight: 600;
	margin: 0;
	font-size: 2em;
}

h2 {
	font-weight: 600;
	font-size: 2em;
}

.statistic {
	background: rgb(236, 236, 236);
	padding: 0.5rem 1rem;
	border-radius: 10px;
	margin: 1rem auto 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	font-size: 1.3em;
	margin: 0;
	color: #555;
}

.date {
	opacity: 0.4;
	font-size: 0.9em;
}

hr {
	border: 1px solid var(--dark-blue);
	opacity: 0.3;
	margin: 0.3rem 0;
}

.amount {
	font-size: 1.3em;
	font-weight: 500;
	margin: 0;
	color: #414141;
	font-family: "Roboto" !important;
	display: flex;
	justify-content: space-between;
}

.amount span {
	color: var(--dark-blue);
	font-weight: 400;
	font-size: 0.8em;
}

.percent {
	display: flex;
	align-items: center;
}
.percent p {
	margin: 0 1rem 0 0.5rem;
	color: #00c900;
}

.ptext {
	opacity: 0.8;
}

.footer {
	display: flex;
	align-items: flex-end;
}

.row,
.demoLineRow {
	padding: 4rem;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.analiticHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.analiticHeader .switch {
	margin: 0 1rem;
	background-color: #1164b1;
}

.analiticHeader .time {
	justify-content: center;
	align-items: center;
	display: flex;
	color: var(--dark-blue);
}

.analiticHeader .time p {
	margin: 0;
}

.analiticSelectText {
	display: flex;
	justify-content: center;
	align-items: center;
}
.analiticSelectText h2 {
	margin: 0;
}

.analiticHeader .analiticSelect > span {
	color: var(--dark-blue);
}

.analiticSelect:focus-visible {
	border: none !important;
	outline: none !important;
}

.analiticHeader .analiticSelect > div {
	border: none !important;
	outline: none !important;
	background: none !important;
	color: var(--dark-blue);
}
.analiticHeader .analiticSelect > div > span {
	font-weight: 600;
	font-size: 2em;
}

.dflex {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.profit {
	color: #000;
	padding: 0.5rem 1rem;
	margin-left: 1rem;
	background: rgba(0, 119, 255, 0.075);
}

.bold {
	font-size: 1.2em;
	font-weight: 600;
}
